.profile {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    border-radius: 50%;
    img.profile-avatar {
        width: 24px;
        height: 24px;
        border: 1px solid #000;
        border-radius: 50%;
    }
    span.profile-name {
        display: inline-block;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 300;
        font-size: 14px;
        vertical-align: top;
        padding: 5px 8px 9px 8px;
        color: #a9aaad;
        border: none;
    }
}