.dashboard {
    .jumbo {
        h1 {
            font-family: 'Titillium Web', sans-serif;
            font-size: 30px;
            color: #FFF;
            text-align: center;
            padding-top: 50px;
        }
        
    }
}