.category-form-title {
    text-align: center;
    font-family: 'Titillum Web', sans-serif;
    font-size: 28px;
    color: #000;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 400;
}
.add-category-form {
    .form-row {
        display: block;
        margin-bottom: 5px;
        > label, > input {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Titillium Web', sans-serif;
            font-size: 16px;
        }
        > label {
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;   
            color: #000;
        }
        > input {
            // display: inline-block;
            padding: 5px;
            border-radius: 5px;
            border: none; 
        }
        &.submit {
            text-align: center;
            padding-top: 15px;
            input {
                border-radius: 10px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 20px;
                padding: 5px 15px; 
                background: #5fb5ef;
                border: none;
            }
        }
    }
}