$color-category: #ebedf3;
.category {
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 400px;
    background-color: $color-category;
    margin-left: 50px;
    border-radius: 5px;
    .category-header {
        border-bottom: 1px solid #B4BBC3;
        padding: 15px;
        .category-title {
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            color: #787C82;
            vertical-align: middle;
            height: 30px;
            width: 300px;
        }
        .more-button {
            display: inline-block;
            vertical-align: middle;
            height: 30px;
            img {
                height: 30px;
            }
        }
    }
    
    .card-container {
        height: 400px;
        overflow: scroll;
    }
}