$color-category: #ebedf3;
.category {
    display: inline-block;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    width: 400px;
    background-color: $color-category;
    margin-left: 50px;
    border-radius: 5px;
    vertical-align: top;
    .category-header {
        border-bottom: 1px solid #B4BBC3;
        padding: 12px 15px;
        .category-title {
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            color: #9aa1a8;
            vertical-align: middle;
            height: 30px;
            width: 275px;
            padding-right: 25px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .more-button {
            display: inline-block;
            vertical-align: middle;
            height: 30px;
            img {
                height: 30px;
            }
        }
    }  
    .card-container {
        max-height: calc(100vh - 250px);
        overflow: scroll;
    }
    &:hover {
        .task-filter-handle {
            display: block;
        }
    }
}