$color-card: #FFFFFF;
$color-background: #F0F8FA;
.card {
    position: relative;
    width: 380px;
    background-color: $color-card; 
    margin: 10px;
    border-radius: 5px;
    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        border-radius: 5px;
        z-index: 0;
    }
    .card-content {
        position: relative;
        .card-title {
            padding: 15px 30px 15px 15px;
        }
        .estimate {
            max-width: 30px;
            position: absolute;
            top: 5px;
            right: 7px;
            color: #929292;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .complete-checkbox {
            display: none;
            position: absolute;
            right: 5px;
            bottom: 50px;
            // input[type="checkbox"] {
            // }
        }
        .details {
            padding: 5px 5px 5px 15px;
            .team-name {
                display: inline-block;
                font-weight: 700;
                font-size: 14px;
                color: #929292;
                width: 240px;
            }
            .meta-details {
                .date {
                    margin: 0 5px;
                    vertical-align: middle;
                    font-size: 14px;
                    color: #929292;
                }
            }
        }
    }
    &:hover {
        .card-content {
            .complete-checkbox {
                display: block;
            }
        }
    }
}
.card-row {
    display: block;
    z-index: 1;
    .card-column {
        display: inline-block;
    }
}